<!DOCTYPE html>
<html>
  <head>
	<title>Rock Paper Scissors!</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans|Roboto|Rubik|Bangers|Titillium+Web" rel="stylesheet">	
	<link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/styles.css">
  </head>
  
  <body>
  <div id="container">
		<h1 class="text-center" id="welcome">WELCOME TO ROCK PAPER SCISSORS!</h1>
	
		<div class="text-center">
		  <h2 id="pick_move">PICK YOUR WEAPON</h2> 
		  <div>  
		  
		  <form method="POST" action="/play">
			<div>
			  <button name="move" value="ROCK" class="btn"><i class="far fa-hand-rock"></i></button>
				<button name="move" value="PAPER" class="btn"><i class="far fa-hand-paper"></i></button>
				<button name="move" value="SCISSORS" class="btn"><i class="far fa-hand-scissors"></i></button>
			</div>
		  </form>
		  
		  </div>
		  
		</div>
		
  </div>



  </body>
  
</html>